<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/homestyle.css">
    <title>Home</title>
</head>
<body>
        <div class="container">
        <h1 class="header">Student Chapters Fund Allocation</h1>
            <div class="card-wrapper">
                <div class="card">
                    <img src="../images/card-background.jpg" alt="image1" class="card-image">
                    <img src="../images/adminprofile.png" alt="admin profile" class="profile-img">
                    <h1>Admin Login</h1>
                    <p class="about">Login to Grant Fund Requests to different Student Chapters, review registrations from new and upcoming clubs and analyse previous fund allocations.</p>
                    <a href="adminlogin.php" class="btn">Log In</a>
                </div>
                <div class="card">
                        <img src="../images/card-background2.jpg" alt="image1" class="card-image">
                        <img src="../images/student-chapter.jpg" alt="student chapter profile" class="profile-img">
                        <h1>Student Chapter Login</h1>
                        <p class="about">Generate Fund Requests for variety of activities planned during the academic year,
                            check the status of your requests, and look over previously alloted funds.
                        </p>
                        <a href="studentlogin.php" class="btn">Log In</a>
                    </div>
                    <div class="card">
                            <img src="../images/card-background1.jpg" alt="image1" class="card-image">
                            <img src="../images/student.jpg" alt="student chapter apply profile" class="profile-img">
                            <h1>New Applications</h1>
                            <p class="about">New clubs can apply to formally register themselves with the institute to enjoy official privileges and request for funds.</p>
                            <a href="newclubs.php" class="btn">Register</a>
                        </div>
            </div>
        </div>
</body>
</html>